body{
color: rgb(159, 16, 16);
background-color:rgb(25, 25, 92);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img {
    width: 1270px;
    height: 200px;
    border-radius: 0%;
    border: 3px solid rgb(26, 26, 101)
}
ul{

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

.center {

    text-align: center;

    }
    
    footer {
    
        justify-content: center;
    
    }
